* {
    font-family: sans-serif;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;

    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.indexBody {

}

.headerNav {
    background-color: rgb(203, 240, 252);
    border-bottom: 1px solid #ccc;
}

.navContent {
    background-image: url(../../assets/img/bg-05.svg), url(../../assets/img/asset-05.svg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: #bdf0ff;
    background-color: #13356d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    .navContainer {
        // background-color: #bdeef3;
        // background-color: #3295db;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    a {
        width: 100%;
        text-decoration: none;
        font-size: medium;
        color: #ffffff;
        // background-color: rgb(166, 139, 255);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-right: 3%;
        // border-bottom: 1px solid #0056b3;
    }

    .aTagDecoration,
    p:hover {
        border-bottom: 1px solid #ffffff;
        margin: 0px;
        padding: 0px;
        text-align: center;
        transition-duration: 0.3s;
    }
}

.logoUserContainer {
    // background-color: #dafbff;
    width: 18%;
}

.navlogo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.board {
    // background-color: #a8f2c3;
    // height: 100vh;
}

.boardContainer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
    height: 100%;
    padding: 10px;
}

.sidebar {
    background-color: #f9f9f9;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
}

.sidebarContent {
    background-color: #f9f9f9;
    // padding: 10px;

    // border-radius: 5px;
    // padding: 10px;
    // margin-bottom: 10px;

    .sidebarBtnContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p {
        margin-bottom: 5px;
    }

    button {
        background-color: #cde5ff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        height: 10vh;
        width: 100%;
        border-bottom: 1px solid #d1d1d1;
        cursor: pointer;
        font-size: large;
        margin-bottom: 3px;
    }

    button:hover {
        background-color: #d2e8ff;
    }
}


.mat-raised-button {
    background-color: #3278db;
}

.section {
    background-color: #4183df;
    width: 65%;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.sectionProgress {
    // background-color: rgb(196, 239, 255);
    // background-color: #3278db;
    background-color: #4183df;
    display: flex;
    height: 12%;
    align-items: center;
    justify-content: center;

    .sectionProgress_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 90%;
        align-items: center;
        padding: 5px;
    }

    img {
        width: 3vw;
        height: 75%;
    }

    progress {
        width: 100%;
        height: 20%;
        // border-radius: 10px;
    }

    button {
        background-color: #007bff;
        // background-color: #3278db;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        width: 25%;
        height: 75%;
        font-size: medium;
        font-weight: 200;
        // cursor: pointer;

    }

    button:hover {
        background-color: #0056b3;
    }
}

.section-container {
    // background-color: rgb(196, 239, 255);
    background-color: #4183df;
    // border-radius: 5px;
    padding: 10px;
    height: 100%;

    p {
        color: #4d4d4d;
        font-size: large;
        font-weight: 600;
    }
}

.section-content {
    // background-color: #9be68e;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.section-content-block {
    // background-color: #9be68e;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;

    padding: 3%;
    align-items: center;
    //margin-bottom: 10px;

    p {
        margin: 0;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.section-content-block-num {
    background-color: rgb(234, 234, 80);
    //background-color: #007bff;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
