<div class="indexBody">
    <div class="headerNav">
        <div class="navContent">
            <!-- <div class="logoUserContainer" > -->
            <div class="logoUserContainer" routerLink="/index">
                <!-- <div class="navlogoj">typing.com</div> -->
                <img src="../../assets/img/logo-typing.svg" alt="img">
            </div>
            <div class="navContainer">
                <a href="#">
                    <p>Lessons</p>
                </a>
                <a href="#">
                    <p>Tests</p>
                </a>
                <a href="#">
                    <p>Games</p>
                </a>
                <a href="#">
                    <p>Achievements</p>
                </a>
                <a href="#">
                    <p>Theme</p>
                </a>
            </div>
        </div>
    </div>
    <div class="board">
        <div class="boardContainer">
            <div class="sidebar">
                <div class="sidebarContent">
                    <p>Lorem it</p>
                    <div class="sidebarBtnContainer">
                        <button mat-raised-button>Lorem, ipsum </button>
                        <button mat-raised-button>Lorem, ipsum </button>
                        <button mat-raised-button>Lorem, ipsum </button>
                    </div>
                </div>
                <div class="sidebarContent">
                    <p>Lorem it</p>
                    <div class="sidebarBtnContainer">
                        <button>Lorem, ipsum </button>
                        <button>Lorem, ipsum.</button>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="sectionProgress">
                    <div class="sectionProgress_container">
                        <img src="../../assets/img/beginner-award.png" alt="price">
                        <progress celass="progress" value="32" max="100"></progress>
                        <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
                        <button>Lorem, ipsum.</button>
                    </div>
                </div>
                <div class="section-container">
                    <p>Getting Start</p>
                    <div class="section-content">
                        <div class="section-content-block">
                            <div class="section-content-block-num">1</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                        <div class="section-content-block">
                            <div class="section-content-block-num">2</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                        <div class="section-content-block">
                            <div class="section-content-block-num">3</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                    </div>
                    <p>listen</p>
                    <div class="section-content">
                        <div class="section-content-block">
                            <div class="section-content-block-num">1</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                        <div class="section-content-block">
                            <div class="section-content-block-num">2</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                        <div class="section-content-block">
                            <div class="section-content-block-num">3</div>
                            <p>learson</p>
                            <button>start</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 這段程式碼是一個簡單的 HTML 結構，用於建立網頁的版面配置。它包含了幾個主要的區塊：
頂部導覽列（headerNav）：有logo和一系列的連結標籤。a hover效果 :移動、加底線
主要內容區域（board）：側邊欄（sidebar）包含了一些文本內容和按鈕＝>可以算是一個menu （我這沒有用menu因為我發現會被收起來，和預想排版不太一樣）會算是單元（unit）的列表，
我預設是按下按鈕會跳到另一個unit，但是我這還沒有做，所以按下按鈕沒有反應。
主要內容則分為進度顯示區域（sectionProgress）和內容區塊容器（section-container）。進度顯示區域包含img、進度條(會使用matiral 如果要讓他照進度跑要研究一下並用ts控制),btn
內容區塊容器包含了文本和按鈕，並展示內容就是一個教學課程的列表。 -->