// @import '~@angular/material/theming';
// @import 'src/styles.scss';
//定義主題  
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

// 修改按紐樣式
$my-app-button-background: map_get($my-app-theme, background-color);
$my-app-button-color: map_get($my-app-theme, foreground);
$my-app-button-border-radius: 4px;

.mat-button-base {
    background-color: $my-app-button-background;
    color: $my-app-button-color;
    border-radius: $my-app-button-border-radius;
}


// 應用主提
// @include angular-material-theme($my-app-theme);


// 修改按紐樣式
// $my-app-button-background: map_get($my-app-theme,background-color);
// $my-app-button-color: map_get($my-app-theme, foreground);
// $my-app-button-border-radius: 4px;

// .mat-button-base {
//     background-color: $my-app-button-background-color;
//     color: $my-app-button-color;
//     border-radius: $my-app-button-border-radius;
// }