@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~@angular/material/theming';
// @import './my-custom-theme.scss';

// 应用主题
//@include angular-material-theme($my-app-theme);
// styles.scss
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// 或者
// @import './my-custom-theme.scss';

* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif, verdana;
}

html,
body {
    height: 100%;
    margin: 0
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-typography{
  display: flex;
  margin: 0px !important;
}
.mat-typography p{
  margin: 0;
}
